@mixin mainReset() {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
svg,
ins,
kbd,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
embed,
output,
ruby,
summary,
time,
mark,
audio,
video,
input,
textarea {
  @include mainReset();
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  @include mainReset();
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol,
ul {
  list-style: none;
  @include mainReset();
}

blockquote {
  quotes: none;
  @include mainReset();

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  quotes: none;
  @include mainReset();

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

button,
input,
select,
span {
  &:focus {
    outline: 0;
  }
  font-family: inherit;
  border: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  @include mainReset();
}

a {
  text-decoration: none;
  color: inherit;
  @include mainReset();
}

b {
  font-weight: bold;
}

sub {
  font-size: 0.8em;
  vertical-align: sub;
}
