@use '../variables' as *;
@use '../mixins' as *;

// Container
.container,
.container-fluid {
  width: 100%;
  padding-right: calc($grid-gutter-width / 2);
  padding-left: calc($grid-gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
}

.container {
  @each $breakpoint, $max-width in $container-max-widths {
    @include media-up($breakpoint) {
      max-width: $max-width;
    }
  }
}

// Responsive containers
@each $breakpoint, $max-width in $container-max-widths {
  .container-#{$breakpoint} {
    @extend .container-fluid;
    
    @include media-up($breakpoint) {
      max-width: $max-width;
    }
  }
}
