@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:math';

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc($grid-gutter-width / -2);
  margin-left: calc($grid-gutter-width / -2);
  
  @if $grid-row-gap != 0 {
    row-gap: $grid-row-gap;
  }
}

// No gutters modifier
.row.g-0,
.g-0 {
  margin-right: 0;
  margin-left: 0;
  
  > [class*="col"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Column base
[class*="col"] {
  position: relative;
  width: 100%;
  padding-right: calc($grid-gutter-width / 2);
  padding-left: calc($grid-gutter-width / 2);
}

// Auto columns
.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

// Generate column classes for each breakpoint
@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 auto;
  width: math.percentage(math.div($size, $columns));
}

// Base columns (no breakpoint)
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include make-col($i);
  }
}

// Responsive columns
@each $breakpoint, $value in $breakpoints {
  @include media-up($breakpoint) {
    // Auto columns
    .col-#{$breakpoint} {
      flex: 1 0 0%;
    }
    
    .col-#{$breakpoint}-auto {
      flex: 0 0 auto;
      width: auto;
    }
    
    // Sized columns
    @for $i from 1 through $grid-columns {
      .col-#{$breakpoint}-#{$i} {
        @include make-col($i);
      }
    }
    
    // Offset classes
    @for $i from 0 through ($grid-columns - 1) {
      .offset-#{$breakpoint}-#{$i} {
        margin-left: if($i == 0, 0, math.percentage(math.div($i, $grid-columns)));
      }
    }
    
    // Order classes
    .order-#{$breakpoint}-first {
      order: -1;
    }
    
    .order-#{$breakpoint}-last {
      order: $grid-columns + 1;
    }
    
    @for $i from 0 through $grid-columns {
      .order-#{$breakpoint}-#{$i} {
        order: $i;
      }
    }
  }
}

// Base offset classes
@for $i from 0 through ($grid-columns - 1) {
  .offset-#{$i} {
    margin-left: if($i == 0, 0, math.percentage(math.div($i, $grid-columns)));
  }
}

// Base order classes
.order-first {
  order: -1;
}

.order-last {
  order: $grid-columns + 1;
}

@for $i from 0 through $grid-columns {
  .order-#{$i} {
    order: $i;
  }
}
